<div class=" px-6 py-2 flex gap-4 items-center" [class]="class"
  [ngClass]="{
    'text-[var(--color-focus)] border-b-2 bg-[var(--color-focus)]/15 rounded-t-lg' : selected === label,
    'text-[var(--color-hidden)] cursor-pointer' : selected !== label && enabled,
    'hover:text-[var(--color-hidden-dark)] transition-transform duration-300 hover:scale-105' : selected !== label && enabled,
    'text-[var(--color-hidden)] cursor-not-allowed': !enabled
  }">
  <app-custom-icon *ngIf="icon !== ''" [span]="''" [icon]="icon"></app-custom-icon>
  <p>{{ label }}</p>
</div>