<div class="bg-white p-4 w-full h-full">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-4xl font-bold text-gray-800">Mis Pedidos</h1>
      <p class="text-gray-500">Aquí puedes ver el historial de todos tus pedidos.</p>
    </div>
  </div>

  <!-- Skeleton Loader -->
  <div *ngIf="isLoading">
    <app-skeleton-order-item *ngFor="let i of [1, 2, 3]"></app-skeleton-order-item>
  </div>

  <!-- Lista de Pedidos -->
  <div *ngIf="!isLoading && pedidos.length > 0" class="grid grid-cols-2 gap-4">
    <div *ngFor="let pedido of pedidos" class="py-6 flex flex-wrap md:flex-nowrap items-center rounded-lg shadow-lg p-4 border border-gray-200">
      <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
        <span class="font-semibold title-font text-gray-700">{{ pedido.idPedido }}</span>
        <span class="mt-1 text-gray-500 text-sm">{{ pedido.fecha }}</span>
      </div>
      <div class="md:flex-grow">
        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Total: BOB {{ pedido.total.toFixed(2) }}</h2>
        <p class="leading-relaxed">Estado: <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
            [ngClass]="{
              'bg-yellow-100 text-yellow-800': pedido.estado === 'pendiente',
              'bg-blue-100 text-blue-800': pedido.estado === 'enviado',
              'bg-green-100 text-green-800': pedido.estado === 'entregado',
              'bg-gray-100 text-gray-800': pedido.estado === 'pagado'
            }">
            {{ pedido.estado }}
          </span>
        </p>
        <a [routerLink]="['order-details', pedido.idPedido]" class="text-blue-500 inline-flex items-center mt-4">Ver
          Detalles
          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- Mensaje de No Hay Pedidos -->
  <div *ngIf="!isLoading && pedidos.length === 0" class="text-center py-12">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h10a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No hay pedidos</h3>
    <p class="mt-1 text-sm text-gray-500">Parece que aún no has realizado ningún pedido.</p>
    <div class="mt-6">
      <button type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
          aria-hidden="true">
          <path fill-rule="evenodd"
            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
            clip-rule="evenodd" />
        </svg>
        Empezar a Comprar
      </button>
    </div>
  </div>
</div>