/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import "tailwindcss";

@theme {
    --color-primary: #009fe3;
    --color-primary-hover: #2cc4ff;

    --color-text: #3C3C3B;

    --color-yellow: #fcc00d;

    --color-whatsapp: #25d366
}